{
  "extends": "eslint-config-voltrevo",

  "env": {
    "es6": true
  },

  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true
  },

  "rules": {
    "vars-on-top": 0,
    "no-warning-comments": 0,
    "dot-notation": [2, {"allowKeywords": true}],
    "no-undef-init": 0,
    "no-nested-ternary": 0,
    "new-cap": 0,
    "object-curly-spacing": [2, "never"]
  }
}
