{
  "extends": "eslint-config-voltrevo",

  "env": {
    "es6": true
  },

  "ecmaFeatures": {
    "modules": true
  },

  "rules": {
    "vars-on-top": 0,
    "no-warning-comments": 0,
    "dot-notation": [2, {"allowKeywords": true}],
    "no-undef-init": 0,
    "no-nested-ternary": 0,
    "new-cap": 0,
    "object-curly-spacing": [2, "never"]
  }
}
